@font-face {
  font-family: 'BYekan';
  src: url('fonts/BYekan.ttf') format('truetype'), 
  url('fonts/BYekan.eot?#') format('eot'), 
  url('fonts/BYekan.woff') format('woff');
  font-weight:normal !important;
}
@font-face {
  font-family: 'IRANSans';
  src: url('fonts/IRANSans.ttf') format('truetype'), 
  url('fonts/IRANSans.woff') format('woff');
  font-weight:normal !important;
}
body.rtl, body.rtl .press-this a.wp-switch-editor,.rtl h1, .rtl h2, .rtl h3, .rtl h4, .rtl h5, .rtl h6,.evomb_header p,.evomb_body,#evcal_rep .evcalr_2_p,#vibe-popup, #vibe-popup * {
    font-family:IRANSans , Tahoma !important;
	font-weight:normal !important;
}
#vibe-opts-sidebar {
    float: right !important;
}
#vibe-opts-main {
	margin-left:0 !important;
    margin-right: 201px !important;
	border-left:none !important;
    border-right: 1px solid #DFDFDF !important;
}
.vibe-logo {
    float: right !important;
}
#vibe-opts-header, #vibe-opts-footer {
    text-align: left !important;
}
#vibe-opts-group-menu i {
    padding: 0 0 0 20px !important;
}
#vibe-opts-footer #vibe-opts-share {
    float: right !important;
}
.form-table.meta_box .description {
    float: right !important;
}
.ui-button {
    float: right !important;
}
.forminp span {
    padding-left:0 !important;
    padding-right: 10px!important;
}
.evomb_header p {
	padding-left:0 !important;
    padding-right: 40px!important;
}
.yesno_row span.field_name, .yesno_row label {
		padding-left:0 !important;
    padding-right: 80px!important;
}
.evo_date {
    float: right!important;
}
.evcal_date_time {
    float: right!important;
}
.ajde_yn_btn .btn_inner:before {
	left: auto !important;
    right: 0!important;
    padding-left:0 !important;
    padding-right: 12px!important;
}
.ajde_yn_btn .btn_inner {
    padding-right: 46px!important;
    padding-left: 42px!important;
	margin-left:0 !important;
    margin-right: -46px!important;
}
.ajde_yn_btn.NO .btn_inner {
    margin-right: 0px!important;
}
span.ajdeToolTip, .yesno_row span.ajdeToolTip {
    margin-left:0 !important;
    margin-right: 4px!important;
}
.ajde_yn_btn .btn_inner:after {
	right:auto !important;
    left: 0;
	padding-right:0 !important;
    padding-left: 10px;
}
.ajdeToolTip.L em:before, .ajdethistooltip.L em:before {
    right: auto!important;
    left: 0px!important;
    border-width: 0 0 9px 9px!important;
    border-color: transparent transparent transparent #6B6B6B!important;
}
.ajdeToolTip.L em, .ajdethistooltip.L em {
    left: 5px!important;
    right: auto!important;
}
.evomb_header:hover:after {
    right:auto !important;
    left: 15px !important;
}
.select_button.yesno>span:first-child {
    padding: 5px 25px 0 5px !important;
}
.select_button.yesno>span {
    right: auto !important;
	left:auto !important;
	padding: 7px 10px 0 10px!important;
}
.select_button.yesno:before {
    left:auto !important;
    right: 4px!important;
}
.select_button.yesno.enable:before {
    right: auto!important;
	    transform: translateX(-62px)!important;
	/*left: 4px !important;*/
}

#vibe-sc-form-table tbody tr.form-row .label {
    text-align: right;
    padding-left: 20px;
}
.vibe-options-wrap {
    margin: 40px 10px 20px 40px !important;
}